@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";


.font-poppins {
  font-family: 'Poppins', swap;
}

.font-Stock_No_Bills {
  font-family: 'Stick No Bills', swap;
}

.custom-pagination .swiper-pagination-bullet {
    background-color: #d1d1d1;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    transition: background-color 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #ec1c24;
}

/* Scrolling Right to Left Animation  */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.infinite-scroll {
  animation: infinite-scroll 120s linear infinite;
}

/* Scrolling Left to Right Animation  */
@keyframes infinite-scroll-reverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(50% + 20px));
  }
}

.infinite-scroll-reverse {
  animation: infinite-scroll-reverse 120s linear infinite;
}